#table {
	margin-top: 20px;
  }
  
  h2 { 
	color: var(--mdc-theme-on-secondary);
  }
  
  h3 {
	padding: 0px 0px 20px 20px;
  }
  
  h4 {
	padding: 0px 0px 20px 40px;
	color: var(--mdc-theme-on-secondary);
  }
  
  ol > li {
	color: var(--mdc-theme-on-secondary);
	position: relative;
	width: 50%;
  }
  
  ol > li:hover::after {
	content: attr(data-blackjack-value);
	position: absolute;
	left: 125px;
	/*padding: 10px;*/
	background-color: var(--mdc-theme-secondary);
	border: 2px solid var(--mdc-theme-on-secondary);
	border-radius: 6px;
	width: 30px;
	height: 30px
  }
  
  button {
	position: relative;
  }
  
  button#hit-button.mdc-button:hover::after, button#stand-button.mdc-button:hover::after, button#action-button.mdc-button:hover::after {
	content: attr(data-user-hints);
	font-size: 12px;
	position: absolute;
	top: 40px;
	left: 0px;
	padding: 10px;
	background-color: var(--mdc-theme-secondary);
	border: 1px solid var(--mdc-theme-on-secondary);
	border-radius: 6px;
	width: auto;
  }
  
  button > p {
	font-size: inherit;
	color: inherit;
	padding: 10px;
	margin: 10px;
  }
  
  .hidden-item {
	display: none !important;
  }
  
  #playersCards, #dealersCards {
	padding: 10px;
	margin: 10px;
	border:  1px solid var(--accent-dark);
	border-radius: 6px;
	background-color: var(--mdc-theme-secondary);
  }
  
  #playersActions, #betting {
	padding: 20px;
	margin: 20px 20px 60px;
	border-color: var(--mdc-theme-on-secondary);
	background-color: var(--mdc-theme-secondary);
  }
  
  li.mdc-card {
	height: auto;
	width: 120px;
	margin: 20px;
	float: left;
  }
  